/*  */
:root {
    --dark: #555e7f;
    --more-dark: #3e445c;
    --light: #eaeaf6;
    /* --secondary-color: #EBFFFA; */
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'GolosTextWebRegular';
    color: var(--dark);
}

h1 {
    font-size: 10rem;
    font-weight: bold;
}